@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300..600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
    /* light */
    --md-sys-color-surface-light: #FEF7FF;

    --md-sys-color-primary-container-light: #d2e4ff;
    --md-sys-color-on-primary-container-light: #001d36;
    --md-sys-color-on-surface-light: #1a1c1e;
    --md-sys-color-on-surface-variant-light: #43474e;
    --md-sys-color-surface-container-highest-light: #e2e2e6;
    --md-sys-color-surface-container-light: #eeedf1;

    /* dark */
    --md-sys-color-surface-dark: #121316; //-

    --md-sys-color-primary-container-dark: #00497e;
    --md-sys-color-on-primary-container-dark: #d2e4ff;

    --md-sys-color-on-surface-dark: #c6c6ca;
    --md-sys-color-on-surface-variant-dark: #c3c6cf;
    --md-sys-color-surface-container-highest-dark: #333538;
    --md-sys-color-surface-container-dark: #1e2022;

    @media(prefers-color-scheme: light) {
        --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
        --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
        --md-sys-color-surface: var(--md-sys-color-surface-light);
        --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
        --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
        --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-light);
        --md-sys-color-surface-container: var(--md-sys-color-surface-container-light);
    }

    @media(prefers-color-scheme: dark) {
        --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
        --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
        --md-sys-color-surface: var(--md-sys-color-surface-dark);
        --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
        --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
        --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark);
        --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark);
    }
}

$breakpoint-laptop: 840px;
$braekpoint-mobile: 360px;

html,
body {
    height: 100%;
    margin: 0;
}

.container {
    background: grey;

    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: "nav header" "nav main" "nav footer";
}

.navigation {
    --_nav-orientation: var(--nav-orientation, column);
    --_item-gap: var(--item-gap, 10px);
    --_line-heigh: var(--line-height, 40px);

    background: var(--md-sys-color-surface);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    grid-area: nav;
    display: flex;
    flex-direction: var(--_nav-orientation);
    gap: 20px;

    @media(max-width: $braekpoint-mobile) {
        --nav-orientation: row;
        --item-gap: 1px;
        --line-height: 32px;
        align-items: center;
    }

    @media(max-width: $breakpoint-laptop) {
        --item-gap: 1px;
        --line-height: 32px;
    }

    &__item {
        --selected: 0;
        --_line-height: var(--line-height, 40px);
        --_is-item-hidden: var(--is-item-hidden, block);
        display: flex;
        flex-direction: row;
        gap: var(--_item-gap); //10px;

        @media(max-width: $breakpoint-laptop) {
            // align-items: center;

            flex-direction: column;
            text-align: center;
            // --item-gap: 1px;
            // --line-height: 36px;
        }

        @media(max-width: $braekpoint-mobile) {
            flex-direction: column;
            --is-item-hidden: none;
            width: 100%;
        }


        &__icon {
            font-family: "Material Symbols Outlined";
            font-variation-settings:
                'FILL' var(--selected),
                'wght' 400,
                'GRAD' 0,
                'opsz' 24;
            font-size: 36px;
            line-height: var(--_line-height);
        }

        &__text {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            line-height: var(--_line-height);
            // overflow: hidden;
        }

        &--selected {
            --selected: 1;
        }

        &--hidden {
            display: var(--_is-item-hidden);
        }
    }
}

.header {
    background: darkblue;

    padding: 32px;
    grid-area: header;
}

.footer {
    background: darkgreen;

    padding: 32px;
    grid-area: footer;
}

.main {
    background: white;

    padding: 32px;
    grid-area: main;
}

@media(max-width: $breakpoint-laptop) {
    .container {
        grid-template-columns: 100px 1fr;
    }
}

@media(max-width: $braekpoint-mobile) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr min-content min-content;
        grid-template-areas: "header" "main" "footer" "nav";
    }
}